<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
   
<% 	if(chapters) 
	{ 
		chapters.sort();
		
		tocList = [];
		for(var chapterTitle in chapters)
		{
			tocList.push({
				title: chapterTitle
			});
			
			for (var i=0; i<chapters[chapterTitle].length; i++)
			{
	            var chapEntry = chapters[chapterTitle][i];
	            tocList.push({
	                title: path.basename(chapEntry.path),
					path: path
	            });
			}
		} %>
      <div id="jump_to">
        Jump To &hellip;
        <div id="jump_wrapper">
          <div id="jump_page">
            <% for (var i=0, l=tocList.length; i<l; i++) {
                  var item = tocList[i];
				  if(item.path) { %>
					<a class="source" href="<%= item.path %>">
						<%= item.title %>
					</a>
				  <% } else { %>
					<b> <%= item.title %> </b>
				  <% } %>
            <% } %>
          </div>
        </div>
      </div>
<% } %>
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th class="docs">
            <h1>
              <%= title %>
            </h1>
          </th>
          <th class="code">
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <tr id="section-<%= i + 1 %>">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docs_html %>
            </td>
            <td class="code">
              <%= section.code_html %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
